/* ~~~ background ~~~
*/
body {
	margin: 0;
	padding: 0;
}

#container {
	position: relative;
	min-height: 100%;
	height: 100%;
}

#background0,#background1 {
	position: fixed;
	width: 100%;
}

#background0 {
	top: 0;
	height: 70%;
	z-index: -1;
}

#background1 {
	bottom: 0;
	margin: -1px;
	height: 9em;
}

/* ~~~ content ~~~
*/
#user {
	display: inline-block;
	margin: 0.25em 0.5em 0 0.5em;
}

#statbar {
	display: inline-block;
	margin: 0 0 0 0.5em;
}

.tweet { /* All tweets. */
	padding: 0em;
}

.tweet p { /* All tweets. */
	margin: 0.5em;
}

#threads>.tweet { /* Top-level tweets. */
	float: left;
	width: 20em;
	margin: 0.5em;
}

.tweet>.tweet { /* Child tweets. */
	margin-left: 1em;
}

#clearfooter { /* Empty space to make main area scroll above footer. */
	float: left;
	clear: both;
	height: 9em;
}

#footerouter {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 9em;
	overflow: auto;
}

#footer { /* Horizontal scrolling hack. */
	float: left;
	margin-right: -30000px;
}

#footer .tweet { /* Tweets inside the footer. */
	float: left;
	width: 20em;
	margin: 0.5em;
}