#user {
	margin: 0.25em 0.5em 0 0.5em;
	display: inline-block;
}

#statbar {
	margin: 0 0 0 0.5em;
	display: inline-block;
}

.tweet { /* All tweets. */
	padding: 0em;
}

.tweet p { /* All tweets. */
	margin: 0.5em;
}

#threads > .tweet { /* Top-level tweets. */
	float: left;
	width: 20em;
	margin: 0.5em;
}

.tweet > .tweet { /* Child tweets. */
	margin-left: 1em;
}
